* {
  box-sizing: border-box;
}

body {
  width: 90%;
  margin: 50px 50px 50px 50px;
  overflow: auto;
  font-style: #2a4a5c;
  background-color: #f1f6ff;
}

.container {
  background-image: url("/img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;

  float: left;
  width: 50%;
  min-height: 600px;
  /* position: relative; */
}

.wrap {
  float: right;
  width: 50%;
  height: 80vh;
  padding: 50px;
  background-color: #ffffff;
}

.logo {
  position: absolute;
  margin: 20px;
  width: 80px;
  height: 80px;
}

.logo-img {
  width: 100%;
  height: auto;
  display: block;
  background-color: transparent;
}

h1 {
  font-weight: 400;
  font-size: 1em;
  margin: 0;
}
h2 {
  font-weight: 400;
  font-size: 1em;
}

.h3 {
  font-weight: 200;
  color: #666;
  font-size: 0.8em;
}

.first {
}

.button-between {
  display: flex;
  justify-content: space-between;
  outline: 0;
  outline-offset: 0;
  /* margin-right: 3rem; */
}

.facebook {
  /* margin: 0 0 0 7px; */

  padding: 7px 7px;
  font: transparent;
  /* /* font-weight: 200; */
  font-size: 0.8em;

  color: #eeeeee;
  border: none;
  background-color: #255a9b;
  width: 47%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.facebook-icon {
  display: flex;
  align-items: space-around;
  margin: 0 10px 0 0;

  justify-content: center;
  background-color: transparent;
}

.linkedin {
  padding: 7px 7px;
  border: none;
  color: #eeeeee;
  background-color: #0076b6;
  width: 47%;
  display: flex;
  /* font-size: 0.8em; */
  /* align-items: center; */
  justify-content: center;
}

.linkedin-icon {
  display: flex;
  /* align-items: space-around; */
  margin: 0 20px 0 0;

  justify-content: center;
  background-color: transparent;
}

.input-wraper:first-child {
  /* margin-right: 2rem; */
}
.or {
  display: flex;
  border-left: none;
  border-right: none;
  border-bottom: none;
  width: 60%;
  margin: 0 20% 0 20%;
  text-align: center;
  /* align-items: center; */
  justify-content: space-between;

  /* padding: 0 10em; */
}

.input-wraper {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  width: 47%;
}

.input-container {
  display: flex;
  justify-content: space-between;
}

.email {
}

.hr-text {
}

.gradient {
}

.second {
}

.second-checkbox-section {
  display: flex;
  justify-content: space-between;
  margin: 0 50 0 50;
  font-weight: 400;
  font-size: 0.9em;
}

.description {
  /* opacity: 0; */

  display: block;
  width: 250px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  text-align: left;
  border: none;
  font-size: 0.8em;
  color: #666;
  margin: 8px;
  padding: 8px;
}

.description:focus-visible {
  /* opacity: 1;
  display: block; */
}

.Select {
  /* display: block;
  font-weight: 200;
  font-size: 0.8em; */
}
.Select:hover {
  cursor: pointer;
}

.bottom-div:hover {
  cursor: pointer;
}

.confirmation {
  background-color: #3698fb;
  border: none;
  width: 47%;
  height: 35px;
}

.confirmation:hover {
  cursor: pointer;
  box-shadow: #2a4a5c 0 0 5px;
}

/* {
  background-color: #3698fb;
  background-color: #7b8a92;
  background-color: #96a5b1;
  background-color: #afafaf;
  background-color: #eeeeee;
  background-color: #ffffff;
} */
