* {
  box-sizing: border-box;
}

body {
  /* width: 90%; */
  font-family: "Barlow", sans-serif;
  margin: 50px 50px 50px 50px;
  overflow: auto;
  font-style: #2a4a5c;
  background-color: #f1f6ff;
  width: 94%;
  height: 95%;
}

.container {
  background-image: url("/img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;

  float: left;
  width: 50%;
  min-height: 600px;
  /* position: relative; */
}

.wrap {
  float: right;
  width: 50%;
  height: 80vh;
  padding: 50px;
  background-color: #ffffff;
  min-height: 600px;
}

.logo {
  position: absolute;
  margin: 20px;
  width: 80px;
  height: 80px;
}

.logo-img {
  width: 100%;
  height: auto;
  display: block;
  background-color: transparent;
}

h1 {
  font-weight: 400;
  font-size: 1em;
  margin: 0;
}
h2 {
  font-weight: 400;
  font-size: 1em;
}

.h3 {
  font-weight: 200;
  color: #666;
  font-size: 0.8em;
}

.first {
}

.button-between {
  display: flex;
  justify-content: space-between;
  outline: 0;
  outline-offset: 0;
  font-size: 0.8em;
  /* margin-right: 3rem; */
}

.facebook {
  /* margin: 0 0 0 7px; */

  padding: 7px 7px;
  font: transparent;
  /* /* font-weight: 200; */
  font-size: 0.8em;
  color: #eeeeee;
  border: none;
  background-color: #255a9b;
  width: 47%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.facebook-icon {
  display: flex;
  align-items: flex;
  margin: 0 10px 0 0;

  justify-content: center;
  background-color: transparent;
}

.linkedin {
  padding: 7px 7px;
  border: none;
  color: #eeeeee;
  background-color: #0076b6;
  width: 47%;
  display: flex;
  font-size: 0.8em;
  justify-content: start;
  align-items: center;
}

.linkedin-icon {
  display: flex;
  /* align-items: space-around; */
  align-items: flex;
  margin: 0 20px 0 0;

  justify-content: center;
  background-color: transparent;
}

.input-wraper > input {
  border: none;
  box-shadow: none;
}

.input-wraper:focus-within,
.input-wraper:hover {
  cursor: pointer;
  border-left: #3698fb 2px solid;
  border-top: #7b8a92 1px solid;
  border-right: #7b8a92 1px solid;
  border-bottom: #7b8a92 1px solid;
}

.input-wraper {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  width: 47%;
  border: 1px solid #000000;
  padding: 5px 8px 5px 8px;
  color: #7b8a92;
}
.or {
  display: flex;
  color: #7b8a92;
  border-left: none;
  border-right: none;
  border-bottom: none;
  width: 60%;
  margin: 0 20% 0 20%;
  text-align: center;
  /* align-items: center; */
  justify-content: space-between;
  font-weight: 100;
  font-size: 0.5em;
  /* padding: 0 10em; */
}

.input-container {
  display: flex;
  justify-content: space-between;
}

.second {
  margin-top: 30px;
}

.second-checkbox-section {
  display: flex;
  /* display: block; */
  justify-content: space-between;
  align-content: flex-start;
  margin: 30px 0 30px 0;
  flex-wrap: wrap;

  font-weight: 600;
  font-size: 0.8em;
  order: 1;
}

.second-checkbox-section:hover {
  cursor: pointer;
}

.description {
  /* display: none; */
  display: flex;

  visibility: hidden;
  max-width: 20em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  text-align: left;
  border: none;
  font-size: 0.8em;
  color: #666;
  margin: 30px 10px 20px 10px;
  padding: 8px;
  border-radius: 3px;
}

.select:checked ~ .description {
  visibility: visible;
}

#individual-label {
  margin: 0;
  padding: 0;
}

.select:hover {
  cursor: pointer;
}

.bottom-div {
  margin: 20px 0 0 0;
  font-size: 0.7em;
  color: #7b8a92;
}
.bottom-div:hover {
  cursor: pointer;
}

.confirmation {
  color: #eeeeee;
  font-weight: 600;
  font-size: 0.7em;
  background-color: #3698fb;
  border: none;
  width: 47%;
  height: 35px;
  border-radius: 5px;
  margin: 30px 0 0 0;
}

.linkview {
  color: #3698fb;
}
.confirmation:hover {
  cursor: pointer;
  box-shadow: #2a4a5c 0 0 5px;
}

/* {
  background-color: #3698fb;
  background-color: #7b8a92;
  background-color: #96a5b1;
  background-color: #afafaf;
  background-color: #eeeeee;
  background-color: #ffffff;
} */
